BODY {
	scrollbar-face-color:#C9C9C9;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#FFF7DD;
	scrollbar-darkshadow-color:#FFF7DD;
	scrollbar-shadow-color:#8B6A32;
	scrollbar-arrow-color:#E73712;
	scrollbar-track-color:#FFF7DD;

}
table {
	font-size: 9pt;
	text-decoration: none;
	line-height: 140%;
}
.right-title {
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	filter: Glow(Color=000000, Strength=2);
	height: 12px;
}
.menu {
	font-size: 9pt;
	line-height: 150%;
	text-decoration: none;
}
a {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
}
.title1 {
	height: 12px;
	filter: DropShadow(Color=ffffff, OffX=1, OffY=1, Positive=1);
	margin-top: 2px;

}
.stable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F6F6F6;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #F6F6F6;

}
.fblank {
	border: 0px none;
}
.help_title {font-size: 12pt;
        	font-weight:bold;
}